{% extends 'interactions/base.html' %}
{% load pinax_messages_tags %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<div style="margin-top: 110px;"></div>
<a href="{% url 'pinax_messages:inbox' %}">
    <img src="{% static 'bases/backb.png' %}" class="img-fluid backbp" alt="Back">
</a>
    <div class="wrapper">
        <div class="content-container">
            <h1 class="center poppinsb title pb-4">MESSAGE THREAD</h1>
            <div class="form-container connect-form poppinsl pt-4 pb-4 center pl-5 pr-5" style="min-width: 100%;">
        
            <div class="thread-del">
            <h2>Subject: {{ thread.subject }}</h2>
            <a class="button btn cancelbtn" href="{% url 'pinax_messages:thread_delete' thread.pk %}">
                Delete
            </a>
            </div>

    <section class="thread-messages">
        {% for message in thread.messages.all %}
            <div class="thread-message">
                <div class="message-byline">
                    <div class="message-from mb-1">From: {{ message.sender.username }}</div>
                    <div class="message-sent mb-1">Time: {{ message.sent_at }}</div>
                </div>
                <div class="message-content">Message: {{ message.content|urlize|linebreaks }}</div>
            </div>
        {% endfor %}
    </section>

    <form class="comment-form" action="{% url 'pinax_messages:thread_detail' thread.pk %}" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="form-actions pt-2">
            <a href="{% url 'pinax_messages:inbox' %}" class="cancel" style="text-decoration: none;">
                <button class="btn cancelbtn" type="button">Cancel</button>
            </a>
            <button class="btn editbtn" style="padding:3px; margin-left: 10px;">Send</button>
        </div>
    </form>
</div>

{% endblock content %}
