{% extends 'interactions/base.html' %}
{% load pinax_messages_tags %}
{% load static %}

{% block content %}
<div style="margin-top: 130px;">
<a href="{% url 'pinax_messages:inbox' %}" class="cancel" style="text-decoration: none;">
    <img src="{% static 'bases/backb.png' %}" class="img-fluid backbp" alt="Back">
</a>
    <div class="wrapper">
        <div class="content-container">
            <h1 class="center poppinsb title pb-4">DELETE</h1>
            <div class="form-container connect-form poppinsl pt-4 pb-4 center pl-5 pr-5" style="min-width: 100%;">
    <h2>Subject: {{ thread.subject }}</h2>
    <h2>Users: {{ thread.users.all|join:", " }}</h2>

    {% url "pinax_messages:thread_delete" thread.pk as post_url %}

    <div class="delete-warning" role="alert">
        <h2 class="pt-4 mt-2">
            Are you sure you want to delete this thread?
        </h2>
    </div>

    <form action="{{ post_url }}" method="POST">
        {% csrf_token %}
        <div class="form-actions mt-2">
            <a href="{% url 'pinax_messages:inbox' %}" class="cancel" style="text-decoration: none;">
                <button class="btn cancelbtn" type="button">Cancel</button>
            </a>
            <button class="btn editbtn" style="padding:3px; margin-left: 10px;">Delete</button>
        </div>
    </form>
</div>
</div>

{% endblock content %}